<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application>
        <service
            android:name=".CollectorService"
            android:foregroundServiceType="specialUse|camera|microphone|location|connectedDevice"
            android:exported="true">
        </service>
    </application>
</manifest>